body{
    margin: 0;
    padding: 0;

}


.con{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    margin-top: 30px;
 
}